@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
	background: #002064;
	border: 3px solid #fff;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
	background: rgba(var(#002064), 0.5);
}

.mat-slide-toggle.mat-checked .mat-ripple-element {
	background: var(#002064);
}

.mat-slide-toggle.mat-checked .scroll-on {
	font-weight: 600;
}